body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--bk-color-background-secondary);
  color: var(--bk-color-foreground-muted);
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 480px;
  height: 100%;
  gap: 20px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  /* background-color: #454545; */
}

.screen {
  border-radius: 4px;
  padding: 8px;
  background: rgb(51, 51, 51);
  margin-top: 20px;
}

.emulation-controls-container {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.emulation-state-container {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  font-family: monospace;
  gap: 14px;
}

.memory-view-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
}

.memory-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-bottom: 2px;
}

.memory-cell {
  cursor: pointer;
}

.memory-cell-target {
  background-color: #cddc39;
  color: rgb(38, 38, 38);
  border-radius: var(--bk-radius-sm);
}

.memory-cell-hover {
  background-color: #4caf50;
  color: rgb(38, 38, 38);
  border-radius: var(--bk-radius-sm);
}

.memory-cell-ptr {
  background-color: #4c7aaf;
  color: rgb(38, 38, 38);
  border-radius: var(--bk-radius-sm);
}

.memory-cell-fp {
  border-radius: var(--bk-radius-sm);
  background-color: #af4c99;
}

.memory-row-address {
  color: #cccccc;
}

.memory-row-bytes {
  color: #dcdcaa;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.memory-row-chars {
  color: #cccccc;
  display: flex;
  flex-direction: row;
}

.memory-slider-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px !important;
}

.label {
  padding: 5px;
}

.emulation-state {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.control-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-field {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}

.info-label {
}

.line-label {
  width: 40px;
}

.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.spread {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.collect {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.info-label {
  background-color: var(--bk-color-secondary);
  color: var(--bk-color-secondary-foreground);
  width: 100px;
  text-align: center;
  font-size: var(--bk-font-size-md);
  min-height: var(--bk-size-md);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--bk-radius-sm);
}

.info-value-byte {
  background-color: var(--bk-color-secondary);
  color: var(--bk-color-secondary-foreground);
  width: 30px;
  text-align: center;
  font-size: var(--bk-font-size-md);
  min-height: var(--bk-size-md);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--bk-radius-sm);
}

.info-value-word {
  background-color: var(--bk-color-secondary);
  color: var(--bk-color-secondary-foreground);
  width: 50px;
  text-align: center;
  font-size: var(--bk-font-size-md);
  min-height: var(--bk-size-md);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--bk-radius-sm);
}

/* .memory-minimap {
  position: relative;
  background-color: #222;
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0078d4;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.memory-viewer-slider {
  background: linear-gradient(
    to right,
    #004c6d 0%,
    #004c6d 25%,
    #4c7c9b 25%,
    #4c7c9b 50%,
    #86b0cc 50%,
    #86b0cc 94%,
    #c1e7ff 94%,
    #c1e7ff 100%
  );
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
} */
