.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  background-color: #1f1f1f;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  /* background-color: #454545; */
}

.screen {
  border-radius: 4px;
  padding: 8px;
  background: rgb(51, 51, 51);
  margin-top: 20px;
}

.memory-view-container {
  display: flex;
  flex-direction: column;
  width: auto;
  font-family: monospace;
}

.memory-view-table {
  display: flex;
  flex-direction: column;
  width: auto;
  font-family: monospace;
}

.memory-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.memory-row-address {
  color: #fff;
  padding: 4px;
  color: #cccccc;
}

.memory-row-bytes {
  color: #dcdcaa;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.memory-row-chars {
  color: #cccccc;
  display: flex;
  flex-direction: row;
}

.memory-slider-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15px;
  align-items: center;
  gap: 10px;
}

.label {
  padding: 5px;
}

/* .memory-minimap {
  position: relative;
  background-color: #222;
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0078d4;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.memory-viewer-slider {
  background: linear-gradient(
    to right,
    #004c6d 0%,
    #004c6d 25%,
    #4c7c9b 25%,
    #4c7c9b 50%,
    #86b0cc 50%,
    #86b0cc 94%,
    #c1e7ff 94%,
    #c1e7ff 100%
  );
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
} */
